<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css")
    @Scripts.Render("http://libs.baidu.com/jquery/2.0.0/jquery.min.js")
    @Scripts.Render("http://cdn.bootcss.com/angular.js/1.2.0rc3/angular.min.js")    
    @Scripts.Render("http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js")
   
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
