<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("http://cdn.bootcss.com/angular.js/1.2.0rc3/angular.min.js")
    @Styles.Render("http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css");
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
